<section>
    <div  class="whole animate__animated animate__fadeInLeft">
        <h1 class="logy text-light ">Log in</h1>
        <!-- <p class="text-light p-5">Fill in your details</p> -->
        <div class="animate__animated animate__zoomIn">
            <label for="" class="label">Email</label>
        <input type="text" class="form-control " placeholder="oyeayodeji@gmail.com" [(ngModel)]="logEmail">
        <label for="" class="label">Password</label>
        <input type="text" class="form-control" placeholder="Enter your password" [(ngModel)]="logPassword" >
        <button class="btn text-light" (click)='logIn()' >Log in</button>
        <p>Don't have an account? sign up</p>

        </div>
        
       
    </div>
</section>
